/*
Syntax error: Invalid CSS after "...    "lighten-5"": expected ")", was ":  #fdeaeb,"
        on line 11 of components/_color.scss
        from line 6 of components.scss
        from line 4 of all.scss

6: 
7: // Google Color Palette defined: http://www.google.com/design/spec/style/color.html
8: 
9: 
10: $materialize-red: (
11:         "lighten-5":  #fdeaeb,
12:         "lighten-4":  #f8c1c3,
13:         "lighten-3":  #f3989b,
14:         "lighten-2":  #ee6e73,
15:         "lighten-1":  #ea454b,
16:         "base":       #e51c23,

Backtrace:
components/_color.scss:11
components.scss:6
all.scss:4
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/lexer.rb:196:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:483:in `assert_tok'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:433:in `paren'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:418:in `special_fun'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:413:in `raw'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:337:in `funcall'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:319:in `ident'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_not'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_div'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:228:in `unary_plus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `times_div_or_mod'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `plus_or_minus'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `relational'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `eq_or_neq'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `and_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:209:in `or_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:298:in `space'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:283:in `interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:246:in `expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:477:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/script/parser.rb:49:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1022:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:514:in `variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:543:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:443:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.14/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...    \"lighten-5\"\": expected \")\", was \":  #fdeaeb,\"\A         on line 11 of components/_color.scss\A         from line 6 of components.scss\A         from line 4 of all.scss\A \A 6: \A 7: // Google Color Palette defined: http://www.google.com/design/spec/style/color.html\A 8: \A 9: \A 10: $materialize-red: (\A 11:         \"lighten-5\":  #fdeaeb,\A 12:         \"lighten-4\":  #f8c1c3,\A 13:         \"lighten-3\":  #f3989b,\A 14:         \"lighten-2\":  #ee6e73,\A 15:         \"lighten-1\":  #ea454b,\A 16:         \"base\":       #e51c23,"; }
